body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1384px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
  display:flex;
}
#u2833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:228px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2834 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:174px;
  width:364px;
  height:228px;
  display:flex;
  text-align:left;
}
#u2834 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u2835 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:58px;
  width:24px;
  height:30px;
  display:flex;
}
#u2835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
}
#u2836 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:421px;
  width:25px;
  height:28px;
  display:flex;
}
#u2836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u2837 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:421px;
  width:30px;
  height:27px;
  display:flex;
}
#u2837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:2px;
}
#u2838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:450px;
  height:1px;
  display:flex;
  opacity:0.6;
}
#u2838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u2839 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:55px;
  width:151px;
  height:41px;
  display:flex;
  font-size:36px;
}
#u2839 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:29px;
}
#u2840 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:419px;
  width:20px;
  height:29px;
  display:flex;
}
#u2840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2842_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:110px;
  height:110px;
}
#u2842 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:487px;
  width:100px;
  height:100px;
  display:flex;
}
#u2842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2843 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:530px;
  width:56px;
  height:16px;
  display:flex;
}
#u2843 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2843_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#993300;
}
#u2844 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:271px;
  width:456px;
  height:16px;
  display:flex;
  color:#993300;
}
#u2844 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2844_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#993300;
}
#u2845 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:308px;
  width:386px;
  height:16px;
  display:flex;
  color:#993300;
}
#u2845 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2845_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
